{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Delete Post | Social Network</title>
<style>
  .card {
      max-width: 50rem;
      margin: 0 auto;
  }
</style>

<div class="card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>Delete Post</h2>
                <legend>Are you sure you want to delete the post?</legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}