{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}

<head>
    <title>
        Post | Social Network
    </title>
    <style>
        .content-section {
                max-width: 50rem;
                margin: 0 auto;
            }
    </style>
</head>

<body>
    <div class="content-section">
        <div class="shadow p-4 mb-5 bg-body rounded">
        <form form enctype='multipart/form-data' action="" method=POST>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Post</legend>
                    {{ form|bootstrap }}
                </fieldset>
                </br>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post</button>
                    <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock content %}