{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Change password | Social Network</title>	
<style>
  html {
    max-width: 64rem;
    margin: 0 auto;
  }
</style>

<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Change password</h1>
    <br/>
    <form action="" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Next" class="btn btn-primary">
        <a href="edit_profile" class="btn btn-secondary">Cancel</a>
    </form>
    <br/>
</div>
{% endblock %}